{% package documents %}

{% templ Document(td TemplateData) %}
	<html>
		<head></head>
		<body>
			<h1>Hello, {%= td.Name %}</h1>
			<p>Here is the body of the document.</p>
		</body>
	</html>
{% endtempl %}

